body  {
    font-family: 'Noto Sans TC', sans-serif;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
}

.subheading{
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
}

:root {
    --bs-primary: #554fad;
    --bs-primary-rgb: 221, 160, 221;
    --bs-secondary: #D8BFD8;
    --bs-secondary-rgb: 221, 160, 221;
}

.expedu_icon {
    color:#495057;
}

.expedu_icon:hover {
    color: var(--bs-secondary);
}
a {
    color: var(--bs-primary);
}

.social-icons .social-icon:hover{
    background-color: var(--bs-primary);
}
table {width: 80%;}
line{width: 50%;}
th, td {text-align: left;}
td {border-bottom:0.5px solid #3f294a;}
.tt{
    height:2rem
}